
@media (max-width: 500px) {
  .heroText {
    padding-top: 20%;
    width: 100%;
  }
  section p {
    font-size: 1.1em;
    align-items: center;
  }
}
@media (max-width: 360px) {
  .wraper {
    margin: 0 8px;
  }
  form {
    margin: 0px;
  }

  section {
    p{
      font-size: 1em;
    img {
        height: 28px;
      }
    }
  }
}