html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

html, body {
  height: 100%;
}

/* CLEAR FIX*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
}

h1, h2, h3, h4, h5, h6 {
  font-size: 3.2em;
  margin-bottom: 8px;
  color: #0A2D32;
}

p {
  padding-bottom: 8px;
  color: #1A1A1A;
  padding-left: 16px;
  padding-right: 16px;
}

ul {
  padding-left: 16px;
  padding-bottom: 16px;
}

strong {
  font-family: LatoWebBold;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  background-color: #e5e5e5;
  font-size: 16px;
  scroll-behavior: smooth;
}

.body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
}
.body h1 {
  font-size: 4em;
  font-variant-caps: all-small-caps;
  text-align: center;
  vertical-align: center;
  padding-top: 20%;
}

.header {
  padding-top: 15px;
}

.logo {
  float: left;
}

.nav {
  float: right;
}
.nav li {
  display: inline-block;
}

.heroText {
  padding-top: 5%;
  width: 40%;
  margin: auto;
}
.heroText img {
  padding-top: 5px;
}

.gameon {
  animation: hover 2s ease-in-out infinite;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
main {
  margin-top: 40px;
}
main h1 {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.form {
  padding-top: 60px;
  width: 248px;
  margin: auto;
}
.form input {
  display: block;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-outset: 2;
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
  font-size: 1.1em;
  color: white;
  background-color: #0C3E61;
  border-color: #0D0D0D;
  border-width: 4px;
}
.form input.is-circle {
  border-image-outset: 2;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: space;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  outline-color: #0C3E61;
}
.form input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-anchor: end;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px auto;
  width: 134px;
  height: 40px;
  background-color: #e24444;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-color: white;
}
.form input[type=submit][type=submit]:hover {
  background-color: #eb6666;
  cursor: pointer;
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #f0401d;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #f0401d;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.confirm h1 {
  padding: 30px;
}

section p {
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: auto;
  text-align: center;
  color: #F7EF87;
  line-height: inherit;
}
section p a {
  font-size: 1em;
  padding-left: 5px;
  color: #F7EF87;
}
section p img {
  height: 48px;
  padding-left: 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  margin: 25px;
  background-color: #ded895;
  border-style: solid;
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-outset: 2;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  background-color: #e24444;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}
.modalContent p {
  color: white;
}
.modalContent img {
  display: flex;
  margin: 20px auto;
  width: 100px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  position: relative;
  clear: both;
  height: 36px;
  left: 0px;
  bottom: -35px;
}
.footer p {
  text-align: center;
  font-size: 0.8em;
  margin: auto;
  color: #fff;
}

@media (max-width: 500px) {
  .heroText {
    padding-top: 20%;
    width: 100%;
  }
  section p {
    font-size: 1.1em;
    align-items: center;
  }
}
@media (max-width: 360px) {
  .wraper {
    margin: 0 8px;
  }
  form {
    margin: 0px;
  }
  section p {
    font-size: 1em;
  }
  section p img {
    height: 28px;
  }
}

/*# sourceMappingURL=ForKids.module.css.map */
