@import "_reset";
@import "_fonts";


$Primary_color: #d40000;
$secondary-color: #F7EF87;
$background_color: #0C3E61;
$font-color: #0D0D0D;
$button-color: #e24444;



.body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }

  h1 {
    font-size: 4em;
    font-variant-caps: all-small-caps;
    text-align: center;
    vertical-align: center;
    padding-top: 20%;
  }
}










.header {
  padding-top: 30px;
  margin-bottom: 40px;
}

.logo {
  float: left;
  padding-top: 10px;
}

.nav {
  float: right;

  li {
    display: inline-block;
    margin-left: 20px;
  }
}

.heroText {
  padding-top: 60px;
  width: 50%;
  margin: 0 auto 60px;

  img {
    padding-top: 15px;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    width: 80%;
    padding-top: 30px;
  }
}

.gameon {
  animation: hover 2s ease-in-out infinite;
}

@keyframes hover {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}


main {
  margin-top: 60px;
  padding-bottom: 80px;

  h1 {
    font-size: 1.5em;
    text-align: center;
    color: white;
  }
}

.form {
  padding: 40px 0;
  width: 280px;
  margin: auto;

  input {
    display: block;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-outset: 2;
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: white;
    background-color: $background_color;
    border-color: $font-color;
    border-width: 4px;

    &.is-circle {
      border-image-outset: 2;
      border-image-slice: 3;
      border-image-width: 3;
      border-image-repeat: space;
      border-image-repeat: stretch;

      border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
      outline-color: $background_color;
    }

    &[type="submit"] {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border-radius: 0;
      text-anchor: end;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      margin: 50px auto;
      width: 134px;
      height: 40px;
      background-color: $button-color;
      border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
      border-color: white;

      &[type="submit"]:hover {
        background-color: #eb6666;
        cursor: pointer;
      }
    }
  }
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #f0401d;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4CAF50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, .5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #f0401d;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.confirm {
  h1 {
    padding: 30px;
  }
}


section {

  p {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: auto;
    text-align: center;
    color: $secondary-color;
    line-height: inherit;

    a {
      font-size: 1em;
      padding-left: 5px;
      color: $secondary-color;
    }

    img {
      height: 48px;
      padding-left: 10px;
    }
  }
}

//Modal Window

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  margin: 25px;
  background-color: #ded895;
  border-style: solid;
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-outset: 2;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  background-color: $button-color;
  margin: 15% auto;
  padding: 20px;
  width: 80%;

  p {
    color: white;
  }

  img {
    display: flex;
    margin: 20px auto;
    width: 100px;
  }

}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  position: relative;
  clear: both;
  height: 36px;
  left: 0px;
  bottom: -35px;

  p {
    text-align: center;
    font-size: .8em;
    margin: auto;
    color: #fff;
  }
}

@import "mediaqueries";